.category-section {
  padding: 2rem;
  background-color: #fff;
  border-radius: 50px;
}
.category-section .category-tabs {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.category-section .category-tabs .tab {
  padding: 0.6rem 1.4rem;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 999px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}
.category-section .category-tabs .tab.active {
  background: #000;
  color: #fff;
}
.category-section .category-tabs .see-all {
  margin-left: auto;
  padding: 0.6rem 1.4rem;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 999px;
  font-weight: 500;
  cursor: pointer;
}
.category-section .category-tabs .see-all:hover {
  background-color: #eee;
}
.category-section .category-cards {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  transition: all 0.3s ease;
}
.category-section .category-cards .card {
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 20px;
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.3s ease;
  min-height: 400px;
  overflow: hidden;
}
.category-section .category-cards .card::after {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4666666667), rgba(255, 255, 255, 0.137254902));
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.category-section .category-cards .card.clicked {
  width: 40%;
}
.category-section .category-cards .card.unclicked {
  width: 30%;
}
.category-section .category-cards .card .card-content {
  z-index: 10;
}
.category-section .category-cards .card .card-content h3 {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.category-section .category-cards .card .card-content p {
  font-size: 0.9rem;
  color: #e3e3e3;
  margin-bottom: 3rem;
}
.category-section .category-cards .card .card-content .arrow-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 38px;
  height: 38px;
  background-color: #fff;
  color: #000;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.category-section .category-cards .card .line {
  z-index: 10;
  height: 0.5px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: 5.8rem;
  right: 1.5rem;
  left: 1.5rem;
}
.category-section .category-cards .card .card-footer {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.6rem 0.8rem;
  border-radius: 999px;
  font-size: 0.8rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.category-section .category-cards .card .card-footer .tag {
  color: #fff;
}
@media (max-width: 768px) {
  .category-section .category-tabs {
    display: block;
  }
  .category-section .category-cards {
    flex-direction: column;
  }
  .category-section .category-cards .card {
    width: 100% !important;
  }
}/*# sourceMappingURL=CategorySection.css.map */