.travel-people {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 4rem 2rem;
  gap: 2rem;


  .left-column {
    width: 25%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2.2rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
      color: #111;
      line-height: 1.1;
    }

    p {
      font-size: 1rem;
      color: #666;
      margin: 0.6rem 0;
    }

    
  }

  .video-thumb {
      position: relative;
      width: 280px;
      height: 160px;
      border-radius: 16px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: black;
        font-weight: bold;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }
    }

  .right-column {
    flex: 1;
    padding-left: 1rem;

    p {
      font-size: 1.8rem;
      color: #111;
      line-height: 1.5;
      font-weight: 500;

      .inline-travel {
        width: 100px;
        height: 40px;
        object-fit: cover;
        border-radius: 999px;
        vertical-align: middle;
        margin: 0 0.4rem;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .travel-people {
    flex-direction: column;

    .left-column, .right-column {
      width: 100%;
    }

    .left-column{
      h2{
        font-size: 2rem;
      }
      p{
        font-size: 1.2rem;
      }
    }

    .video-thumb {
      width: 100%;
      height: 100%;
      margin-bottom: 1rem;
    }

    .right-column {
      padding-left: 0;
      p {
        font-size: 1.4rem;

        .inline-travel{
          height: 30px;
        }
      }
    }
  }
} 